
@model POA.Web.Models.Agent.NewAgentForm

@{
    ViewBag.Title = "New User";
}

<h2>New User</h2>
@using (Html.BeginForm("New", "Agent", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add User" class="btn btn-primary" />
            @Html.ActionLink("Cancel", "Cancel", "Agent", new { @class = "btn btn-primary" })
        </div>
    </div>
}