
@model POA.Web.Models.Category.NewCategoryForm

@{
    ViewBag.Category = "New Category";
}

<h2>New Category</h2>
@using (Html.BeginForm("New", "Category", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add Category" class="btn btn-primary" />
            @Html.ActionLink("Cancel", "Cancel", "Category", new { @class = "btn btn-primary" })
        </div>
    </div>
}