
@model POA.Web.Models.SubCategory.NewSubCategoryForm

@{
    ViewBag.Category = "New SubCategory";
}

<h2>New SubCategory</h2>
@using (Html.BeginForm("New", "SubCategory", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add Category" class="btn btn-primary" />
            @Html.ActionLink("Cancel", "Cancel", "SubCategory", new { @class = "btn btn-primary" })
        </div>
    </div>
}