
@model POA.Web.Models.PowerOfAttorney.AgentModel

@{
    ViewBag.Title = "Agent";
}


  
    @Html.EditorForModel()

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">           
        </div>
    </div>
